{% extends 'base.html' %}
{% block title %}Origen{% endblock %}
{% block content %}
<h2>Origen</h2>
<form method="post">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.codigo.label(class="form-label") }}
        {{ form.codigo(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.nombre.label(class="form-label") }}
        {{ form.nombre(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.lugar.label(class="form-label") }}
        {{ form.lugar(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.capacidad_maxima.label(class="form-label") }}
        {{ form.capacidad_maxima(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>
</form>
{% endblock %}
